html {
    height: 100%;
    background-image: linear-gradient(#00bbe0, #00c9b8);
}

body {
    max-width: 960px;
    margin: auto;
    margin-top: 10%;
    color: white;
    font-family: monospace;
    text-align: center;
}

h2 {
    font-size: 20px;
}

form {
    margin-top: 25px;
}

.options-tab, .options-tab-content, .error, .downloading, .download-finished {
    display: none;
}

button, input[type=button] {
    background-color: white;
    border-radius: 4px;
    border: 0px;
    height: 40px;
    width: 160px;
    font-family: monospace;
    font-size: 30px;
    outline: none;
}

input[type=button] {
    border-radius: 6px;
    width: 140px;
    margin-top: 20px;
}

input[type=text] {
    height: 40px;
    width: 80%;
    border-radius: 6px;
    border: 0px;
    font-size: 18px;
    padding: 0px 4px;
    outline: none;
}

.title {
    font-size: 48px;
}

.options-title {
    display: inline-block;
    font-size: 34px;
    margin-right: 20px;
}

.deploy-options {
    width: auto;
    height: auto;
    background-color: transparent;
    color: white;
    font-family: Arial;
    padding: 0;
    -webkit-transform: scaleX(3);
    transform: scaleX(3);
    margin-top: 28px;
    margin-left: 20px;
    position: absolute;
}

.options-tab {
    overflow: hidden;
    opacity: 0;
}
.active, .options-tab button:hover  {
    background-color: #00d4ff;
    color: white;
}

.progress-circle {
    transform: rotate(0.75turn);    /* to have the 0 at 12 o'clock */
    -webkit-transform: rotate(0.75turn);    
}

.error {
    color: #ff6868;
}

.author {
    font-size: 18px;
    position: fixed;     
    text-align: right;
    bottom: 0px; 
    width: 60%;
}
